@media(max-width: 1200px) {
  .planning-trip-page-container {
    margin-bottom: 300px;
  }
  .planning-boards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

}