@media (max-width: 1250px ){
  .board-trip {
    width: 95%;
    margin-left: unset;
    grid-template-columns: repeat(4, 1fr)
  }
  
}
@media (max-width: 900px ){
  .board-trip {
    margin-left: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: unset;
    margin-bottom: 100px;
  }

  
}